// Template for link-submit directive.
article.submitLink(ng-if='isLoggedIn')
  .addLink-heading(ng-click='showAddLink()')
    h2 Add Link
    a.show-addLink(href='#')
      i.fa.fa-plus.fa-2x(ng-if='!visible')
      i.fa.fa-minus.fa-2x(ng-if='visible')
    
  form#addLink(name='addLinkForm', ng-submit='addLink(linkAdd.title, linkAdd.url, linkAdd.desc, linkTagsArray)', ng-class="{'addLinkVisible': visible}")
    .addLink-title
      input(type='text', ng-model='linkAdd.title', name='linkTitle', ng-maxlength='140', maxlength='140', required)
      label(for='linkTitle', ng-class="{'titleError': !addlinkForm.link.title.$pristine && addLinkForm.linkTitle.$error.maxlength || linkAdd.title.length === 140}") Title
      
    .addLink-url
      input(type='url', ng-model='linkAdd.url', name='linkUrl', ng-pattern='/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/', ng-change='checkLink(linkAdd.url)', required)
      label(for='linkUrl', ng-class="{'urlError':addLinkForm.linkUrl.$error.pattern || addLinkForm.linkUrl.$error.url, 'urlExists': linkExists}") URL
      
    .addLink-description
      textarea(ng-model='linkAdd.desc', name='linkDesc', ng-maxlength='300', maxlength='300', required)
      label(for='linkDesc', ng-class="{'descError': !addlinkForm.linkDesc.$pristine && addLinkForm.linkDesc.$error.maxlength || linkAdd.desc.length === 300}") Description
      
    .addLink-tags
      .addLink-tags-input
        input(type='text', ng-model='linkAdd.tags', name='linkTags', ng-change='addToTags(linkAdd.tags)', ng-keypress='addToTags(linkAdd.tags)', required)
      .addLink-tags-spans
        span(ng-repeat='tag in linkTagsArray track by $index') {{ tag }}
      label(for='linkTags') Tags
        span (Seperated by commas)
      
    .addLink-submit
      input(type='submit', ng-disabled='linkExists || addLinkForm.$invalid', ng-class="{'disabled': linkExists || addLinkForm.$invalid}")
